/*#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;

  --body: red;
  --black: #000;
  --white: #fff;
  --theme: #1D8F2C;
  --theme2: #1D8F2C;
  --header: #232434;
  --text: #585858;
  --text-2: #ffffffcc;
  --border: #E3E3E3;
  --border2: #242449;
  --border3: #5262FF;
  --bg: #F3F7FB;
  --bg2: #282832;
  --bg3: #ffffff33;
  --box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
  --box-shadow-2: 0px 4px 25px rgba(56, 75, 255, 0.1);
}
