:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  background-image: url('/assets/img/bg.png')!important;
  background-size: cover;
  background-position: center;
}

